 <header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Your Thoughts, Organized</h1>
                    <p class="lead text-white-50 mb-4">Easily capture, organize, and access your notes anytime, anywhere.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#profile">Your Notes</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="#about-us">Why You'll Love It</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="bg-light py-5 border-bottom"></section>

<section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-pink bg-gradient text-white rounded-3 mb-3">
                    <img src="assets/static/work.jpg" alt="Work Notes" class="img-fluid rounded-3">
                </div>
                <h2 class="h4 fw-bolder">Work Notes</h2>
                <p>Keep track of meetings, deadlines, and project updates all in one place. Stay organized and productive throughout your workday.</p>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-beige bg-gradient text-white rounded-3 mb-3">
                    <img src="assets/static/personal.jpg" alt="Personal Notes" class="img-fluid rounded-3">
                </div>
                <h2 class="h4 fw-bolder">Personal Notes</h2>
                <p>Capture your thoughts, ideas, and personal reminders. Keep everything from shopping lists to journal entries organized.</p>
            </div>
            <div class="col-lg-4">
                <div class="feature bg-pink bg-gradient text-white rounded-3 mb-3">
                    <img src="assets/static/ideas.jpg" alt="Ideas & Inspiration" class="img-fluid rounded-3">
                </div>
                <h2 class="h4 fw-bolder">Ideas & Inspiration</h2>
                <p>Write down creative ideas, inspiration, and goals. Stay motivated and keep your best thoughts all in one place for easy access.</p>
            </div>
        </div>
    </div>
</section>

<section class="bg-light py-5 border-bottom"></section>

